#game-start-logo {
  display: none;
  position: fixed;
  width: 60vw;
  max-width: 450px;
  left: 20vw;
  top: 35vh;
  will-change: left, width;
}

#game-start-logo.open {
  z-index: 15;
  display: block;
  animation: game-start-logo-open 2.5s;
}

#game-start-logo.open,
#game-start-display-wrapper.open {
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0, 1.12, 0.93, 0.28);
}

@keyframes game-start-logo-open {
  0% {
    left: -130vw;
    width: 35vw;
  }
  100% {
    left: 100vw;
    width: 85vw;
  }
}

#game-start-display-wrapper {
  z-index: 3;
  position: fixed;
  bottom: -100vh;
  left: 0;
  width: 100vw;
  height: 100vh;
  will-change: bottom;
  animation-fill-mode: forwards !important;
  background: url("/day-of-tower/assets/image/duel/background.png");
  background-size: cover;
}

#game-start-display-wrapper.open {
  display: block;
  animation: game-start-display-wrapper-open 2.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

@keyframes game-start-display-wrapper-open {
  100% {
    bottom: 0;
  }
}

#enemy-zone > div,
#user-zone > div {
  border-radius: .5rem;
  background: rgba(255, 255, 255, 0.75);
}

#enemy-zone > div.magic,
#user-zone > div.magic {
  background: rgba(125, 125, 125, 0.75);
}

#enemy-lp-sign,
#user-lp-sign {
  z-index: 10;
  position: fixed;
  top: 40vh;
  width: 50vw;
  border-radius: 1rem;
  font-weight: 800;
}

#enemy-lp-sign > p,
#user-lp-sign > p {
  margin: .25rem;
}

#enemy-lp-sign > p.lp,
#user-lp-sign > p.lp {
  font-size: 2rem;
}

#enemy-lp-sign > p.lp::before,
#user-lp-sign > p.lp::before {
  content: "LP: ";
}

#enemy-lp-sign {
  transition: left .5s;
  left: -50vw;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background: #f26640;
  text-align: right;
}

#enemy-lp-sign.open {
  left: 0;
}

#user-lp-sign {
  transition: right .5s;
  right: -50vw;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background: #4076f2;
}

#user-lp-sign.open {
  right: 0;
}

#in-game-menu {
  z-index: 1;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: .5rem 0;
  background: #323232;
  color: white;
}

#in-game-menu-wrapper {
  display: grid;
  width: 90vw;
  max-width: 550px;
  margin: auto;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1px;
  background: white;
}

#in-game-menu-wrapper > div {
  cursor: pointer;
  background: #323232;
  padding: .5rem;
}

#in-game-menu-wrapper > div > p {
  text-align: center;
  border: 0;
  padding: 0;
  margin: .5rem;
}

#duel,
#game-info,
#in-game-card-info {
  z-index: 6;
  width: 100vw;
  height: 100vh;
}

#game-info,
#in-game-card-info {
  position: absolute;
  overflow-y: scroll;
  width: 100vw;
  max-width: 450px;
  top: 0;
  left: -200vw;
  padding: 3rem 0;
  border-right: .25rem solid #323232;
  background: rgba(85, 85, 85, 0.7);
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(40px);
  color: white;
  animation-fill-mode: forwards !important;
}

#game-info.open,
#in-game-card-info.open {
  animation: info-open .5s;
}

#game-info.close,
#in-game-card-info.close {
  animation: info-close .5s;
}

@keyframes info-open {
  0% {
    left: -120vw;
  }
  100% {
    left: 0;
  }
}

@keyframes info-close {
  0% {
    left: 0;
  }
  100% {
    left: -120vw;
  }
}

#game-info-close-btn {
  width: 90%;
  max-width: 100vw;
  margin: auto;
}

#game-info > .player-info > p {
  margin: 0;
  padding: .5rem 1rem;
}

#enemy-info,
#user-info,
#game-info > .player-info {
  width: 90%;
  margin: 1rem auto;
  padding: .5rem 0;
  border-radius: 1rem;
  background: rgba(50, 50, 50, 0.9);
}

#user-info {
  margin-bottom: 15vh;
}

#user-profile-image,
#enemy-profile-image {
  vertical-align: middle;
  display: inline-block;
  width: 45vw;
  max-width: 200px;
  border: 1px solid #dcdcdc;
  margin: 2.5vh;
  border-radius: 1rem;
  background: white;
}

#enemy-name,
#user-name {
  vertical-align: middle;
  display: inline-block;
  text-align: left;
  font-size: 1.5rem;
  font-weight: 800;
}

#in-game-card-info .padding {
  height: 7.5rem;
  border: 0;
}

#in-game-card-info > div {
  border-bottom: 3px solid #323232;
  padding: .5rem;
}

#in-game-card-info .card-image {
  width: 70%;
  margin: 0 auto 1rem auto;
  border: 0;
}

#in-game-card-info .monster-zone {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3px;
  padding: 0;
  background: #323232;
}

#in-game-card-info .card-explain .effect:not(:last-child) {
  margin-bottom: 1rem;
}

#in-game-card-info .card-explain .inner-effect {
  padding: 1rem;
  margin: .5rem auto;
  border-radius: .5rem;
  background: rgba(255, 255, 255, 0.8);
  color: black;
}

#in-game-card-info .card-name {
  font-weight: 800;
}

#in-game-card-info .card-hp,
#in-game-card-info .card-atk {
  text-align: center;
  font-weight: 800;
  padding: 1rem;
}

#in-game-card-info .card-hp {
  background: #ff5d32;
}

#in-game-card-info .card-atk {
  background: #328aff;
}

#user-dice,
#enemy-dice {
  z-index: 18;
  position: fixed;
  left: 50px;
  width: 160px;
  height: 160px;
  perspective: 650px;
  animation-fill-mode: forwards !important;
  will-change: bottom, top;
}

#user-dice {
  cursor: pointer;
  bottom: -200px;
}

#enemy-dice {
  top: -200px;
}

#user-dice.open {
  animation: user-dice-open .5s;
}

#enemy-dice.open {
  animation: enemy-dice-open .25s;
}

@keyframes user-dice-open {
  100% {
    bottom: 50px;
  }
}

@keyframes enemy-dice-open {
  100% {
    top: 50px;
  }
}

#user-dice.hide {
  animation: user-dice-hide .5s;
}

#enemy-dice.hide {
  animation: enemy-dice-hide .5s;
}

@keyframes user-dice-hide {
  0% {
    bottom: 50px;
  }
  100% {
    bottom: -300px;
  }
}

@keyframes enemy-dice-hide {
  0% {
    top: 50px;
  }
  100% {
    top: -300px;
  }
}

.dice-wrapper {
  transition: transform 1s;
  width: 160px;
  height: 160px;
  position: relative;
  transform-style: preserve-3d;
}

.dice-face {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 2rem;
  border: 5px solid #323232;
}

.dice-face.f1 {
  transform: rotateY(0deg) translateZ(80px);
  background: url('/day-of-tower/assets/image/duel/dice_face_1.png');
}
.dice-face.f2 {
  transform: rotateY(90deg) translateZ(80px);
  background: url('/day-of-tower/assets/image/duel/dice_face_2.png');
}
.dice-face.f3 {
  transform: rotateX(-90deg) translateZ(80px);
  background: url('/day-of-tower/assets/image/duel/dice_face_3.png');
}
.dice-face.f4 {
  transform: rotateX(90deg) translateZ(80px);
  background: url('/day-of-tower/assets/image/duel/dice_face_4.png');
}
.dice-face.f5 {
  transform: rotateY(-90deg) translateZ(80px);
  background: url('/day-of-tower/assets/image/duel/dice_face_5.png');
}
.dice-face.f6 {
  transform: rotateY(180deg) translateZ(80px);
  background: url('/day-of-tower/assets/image/duel/dice_face_6.png');
}
